.checkoutProduct {
    display:  flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.checkoutProduct_info {
    padding-left: 20px;
}
.checkoutProduct_info > button{
    background: #ff9f00;
    margin-top: 10px;
    border: 1px solid;
    border: #a88734 #9c7e31 #846a29;
    color: black;
}
.checkoutProduct_image {
    object-fit: contain;
    width: 180px;
    height: 180px;
}
.checkoutProduct_title {
    font-size: 17px;
    font-weight: 800;
}
.checkouProduct_rating {
display: flex;
}